/*body, html {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}*/
#inventory, .top, #order{
	width: inherit;
	height: inherit;

	padding: 10px 17px;
	font-family: arial, sans-serif;
	font-weight:  600;
	line-height: 105%;
	box-sizing: border-box;
  border: solid 6px black;
}

.ofThe {
  font-size: 10px;
}

.catch-of-the-day{
  display: flex;
  justify-content: space-around;

}

form {
  display:flex;
  /*justify-content: center;*/
  flex-wrap: wrap;

}

form textarea {
  display: flex;
  width: 350px;
}
.other {
 display: flex;
 flex-direction: column;
}

.menu-fish {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.price {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
